include ~/.swc/share/nanorc/doc/syntax/asm.nanorc
include ~/.swc/share/nanorc/doc/syntax/awk.nanorc
include ~/.swc/share/nanorc/doc/syntax/c.nanorc
include ~/.swc/share/nanorc/doc/syntax/cmake.nanorc
include ~/.swc/share/nanorc/doc/syntax/css.nanorc
include ~/.swc/share/nanorc/doc/syntax/debian.nanorc
include ~/.swc/share/nanorc/doc/syntax/fortran.nanorc
include ~/.swc/share/nanorc/doc/syntax/gentoo.nanorc
include ~/.swc/share/nanorc/doc/syntax/groff.nanorc
include ~/.swc/share/nanorc/doc/syntax/html.nanorc
include ~/.swc/share/nanorc/doc/syntax/java.nanorc
include ~/.swc/share/nanorc/doc/syntax/makefile.nanorc
include ~/.swc/share/nanorc/doc/syntax/man.nanorc
include ~/.swc/share/nanorc/doc/syntax/mgp.nanorc
include ~/.swc/share/nanorc/doc/syntax/mutt.nanorc
include ~/.swc/share/nanorc/doc/syntax/nanorc.nanorc
include ~/.swc/share/nanorc/doc/syntax/objc.nanorc
include ~/.swc/share/nanorc/doc/syntax/ocaml.nanorc
include ~/.swc/share/nanorc/doc/syntax/patch.nanorc
include ~/.swc/share/nanorc/doc/syntax/perl.nanorc
include ~/.swc/share/nanorc/doc/syntax/php.nanorc
include ~/.swc/share/nanorc/doc/syntax/pov.nanorc
include ~/.swc/share/nanorc/doc/syntax/python.nanorc
include ~/.swc/share/nanorc/doc/syntax/ruby.nanorc
include ~/.swc/share/nanorc/doc/syntax/sh.nanorc
include ~/.swc/share/nanorc/doc/syntax/tcl.nanorc
include ~/.swc/share/nanorc/doc/syntax/tex.nanorc
include ~/.swc/share/nanorc/doc/syntax/xml.nanorc
